<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleIcons</key>
	<dict>
		<key>CFBundleAlternateIcons</key>
		<dict>
            <key>CityBack</key>
            <dict>
                <key>CFBundleIconFiles</key>
                <array>
                    <string>CityBack</string>
                </array>
                <key>UIPrerenderedIcon</key>
                <false/>
            </dict>
			<key>Airline</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Airline</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>Alien</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Alien</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>DeadInside</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>DeadInside</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>Doomer</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Doomer</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>Happy</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Happy</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
		</dict>
		<key>CFBundlePrimaryIcon</key>
		<dict>
			<key>CFBundleIconFiles</key>
			<array>
				<string>RetroWave</string>
			</array>
			<key>CFBundleIconName</key>
			<string>Default</string>
			<key>UIPrerenderedIcon</key>
			<false/>
		</dict>
	</dict>
</dict>
</plist>
